<configuration scan="false" debug="false">
    <!-- 	<property name="module_name" value="aaf-web" />
        <timestamp key="time_pattern" datePattern="yyyy-MM-dd HH:mm:ss" />
        <contextName>${module_name}-${time_pattern}</contextName> -->


<!--    &lt;!&ndash; 控制台输出 &ndash;&gt;-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] %logger{50} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->


    <!-- 控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>


<!--    &lt;!&ndash; debug &ndash;&gt;-->
<!--    <appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>DEBUG</level>-->
<!--        </filter>-->

<!--        <file>logs/debug.log</file>-->
<!--        <append>false</append>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{0} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->


<!--    <appender name="INFO_FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->

<!--        <file>logs/info.log</file>-->
<!--        <append>false</append>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %file,%line - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="WARN_FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>WARN</level>-->
<!--        </filter>-->

<!--        <file>logs/warn.log</file>-->
<!--        <append>false</append>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %file,%line - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->


<!--    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>ERROR</level>-->
<!--        </filter>-->

<!--        <file>logs/error.log</file>-->
<!--        <append>false</append>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %file,%line - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="DEBUG_FILE"/>-->
<!--        <appender-ref ref="INFO_FILE"/>-->
<!--        <appender-ref ref="WARN_FILE"/>-->
<!--        <appender-ref ref="ERROR_FILE"/>-->
    </root>


    <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG"/>
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG"/>
    <logger name="com.topsoft" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>

</configuration>  