<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>applyUI</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="${base}/js/axios.min.js"></script>
</head>
<div id="info">
    <el-container>
        <el-header style="text-align: left; font-size: 12px; margin-top: 10px;">
            <el-link type="success">你好: ${user.displayName}</el-link>
            <el-button type="primary" size="mini" @click="deploy" icon="el-icon-add">部署</el-button>
            <el-button type="primary" size="mini" @click="applyList" icon="el-icon-add">我的申请列表</el-button>
            <el-button type="primary" size="mini" @click="approveList" icon="el-icon-add">我的审批列表</el-button>
            <el-button type="primary" size="mini" @click="loginOut" icon="el-icon-add">退出登录</el-button>
        </el-header>
        <template>
            <el-table
                    :data="vfas"
                    ref="multipleTable"
                    tooltip-effect="dark"
                    style="width: 100%"
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="auto">
                </el-table-column>
                <el-table-column
                        prop="verification.id"
                        label="编号"
                        width="auto">
                </el-table-column>
                <el-table-column
                        prop="verification.name"
                        label="名称"
                        width="auto">
                </el-table-column>
                <el-table-column
                        prop="verification.reason"
                        label="原因"
                        width="auto">
                </el-table-column>
                <el-table-column
                        prop="apply.id"
                        label="applyId"
                        v-if="false">
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="auto">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="apply(scope.$index, scope.row)"
                                v-if="!scope.row.hasApply">申请
                        </el-button>
                        <el-button
                                size="mini"
                                v-if="scope.row.hasApply">查看
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </template>
    </el-container>
</div>


<script type="text/javascript">
    var app = new Vue({
        el: '#info',
        data: {
            vfas: [{}],
        },
        methods: {
            noAyncHttp(url, params) {
                return new Promise(function (resolve, reject) {
                    axios
                        .post(url, params)
                        .then((response) => {
                                resolve(response.data)
                            }
                        )
                        .catch((error) => { // 请求失败处理
                            reject(error)
                        })
                })
            },
            loginOut() {
                window.location.href = '${base}/login/out';
            },
            deploy() {
                this.noAyncHttp('${base}/deploy').then((res) => {
                    alert(res.data);
                }, (error) => {
                    console.error('出错了', error);
                })
            },
            applyList() {
                window.location.href = '${base}/applyList';
            },
            approveList() {
                window.location.href = '${base}/approveList';
            },
            handleSelectionChange() {

            },
            loadVerificationData: function () {
                this.noAyncHttp('${base}/loadVerificationData').then((res) => {
                    if (res && res.success) {
                        this.vfas = JSON.parse(res.data);
                    }
                }, (error) => {
                    console.error('出错了', error);
                })
            },
            apply: function (index, row) {
                const formParams = new FormData()
                if (row && row.verification.id) {
                    formParams.append('id', row.verification.id)
                }
                if (row && row.verification.name) {
                    formParams.append('name', row.verification.name)
                }
                if (row && row.verification.reason) {
                    formParams.append('reason', row.verification.reason)
                }
                this.noAyncHttp('${base}/apply', formParams).then((res) => {
                    if (res !== null && res.success) {
                        alert(res.data);
                        this.vfas[index].hasApply = true;
                    } else {
                        window.location.href = '${base}/index';
                    }
                }, (error) => {
                    console.error('出错了', error);
                })
            },
        },
        computed: {}
    });
    app.loadVerificationData();
</script>

</body>

</html>