<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="${base}/js/axios.min.js"></script>
</head>
<body>
<div id="login">
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="用户名">
            <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item label="密码">
            <el-input v-model="form.password"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitForm">登录</el-button>
            <el-button>取消</el-button>
        </el-form-item>
    </el-form>
</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#login',
        data: {
            form: {
                username: '',
                password: '',
            },
        },
        methods: {
            submitForm() {
                const formParams = new FormData()
                if (this.form.username) {
                    formParams.append('username', this.form.username)
                }
                if (this.form.password) {
                    formParams.append('password', this.form.password)
                }
                this.noAyncHttp('${base}/login/action.json', formParams).then((res) => {
                    if (res !== null && res.success) {
                        window.location.href = '${base}/apply';
                    } else if (res !== null) {
                        alert(res.msg);
                    } else {
                        window.location.href = '${base}/index';
                    }
                }, (error) => {
                    console.error('出错了', error)
                })
                this.dialogFormVisible = false
            },
            noAyncHttp(url, params) {
                return new Promise(function (resolve, reject) {
                    axios
                        .post(url, params)
                        .then((response) => {
                                resolve(response.data)
                            }
                        )
                        .catch((error) => { // 请求失败处理
                            reject(error)
                        })
                })
            }
        }
    })
</script>

</body>
</html>